<div class="message-container <%= 'my-message' if current_user == message.user %>" id="message-<%= message.id %>" >
  <i class="author">
    <span><%= message.user == current_user ? 'Me' : message.user.first_name %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
  <%# trinagel div position relative in parent and absolite in child -> trinagle %>
</div>
