<% content_for :meta_title, "#{@user.first_name}'s profile on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.bio %>
<% content_for :meta_image, cl_image_path(@user.photo) %>

<div class="container text-center mt-3">
  <div class="headline-nav">
    <div class="left">
      <%= link_to :back, class: "icon-links" do %>
      <i class="fas fa-backward" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="middle">
      <h2>parent friend's details</h2>
    </div>
    <div class="right">
        <%# <i class="fas fa-star icon-big" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true" title="Add user to your friend list"></i> %>
        <% unless @user == current_user %>
          <%= link_to chatrooms_path(user_id: @user.id), method: :post do %>
            <i class="fas fa-comments icon-links" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true" title="Chat with user"></i>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="userprofile-avatar pt-4">
    <div>
      <%= cl_image_tag @user.photo.key, width: 136, height: 136, class: "hidden rounded-circle avatar-img" %>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center mt-4 mb-2">
      <div>
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      </div>
    </div>
    <div class="user_bio text-left">
      <%= @user.bio %>
    </div>
  </div>
</div>
