<div class="container">
  <div class="row">
    <div class="col-xs-12 w-100">
      <div class="form">
        <h2>update your event</h2>
          <%= simple_form_for(@event) do |f| %>
            <div class="form-inputs">
              <%= f.input :name,
                      label: 'Update the name of your event',
                      autofocus: true,
                      placeholder: 'Skateboarding session' %>
              <%= f.input :description,
                      label: 'Add a catchy description',
                      placeholder: 'Let’s get our skateboards and have some fun in the sun! Don\'t forget to bring the necessary protection. And also enough water - looks like it is gonna be hot ;)' %>
              <%= f.input :event_type,
                      label: 'Select the matching category',
                      collection: ['Sports', 'Eating', 'Playground', 'Stroll'] %>
              <div class="row">
                <div class="w-50">
                  <%= f.input :date_time_start, as: :string, input_html: { autocomplete: 'off', class: "datepicker" }, label: 'Event start'  %>
                </div>
                <div class="w-50">
                  <%= f.input :date_time_end, as: :string, input_html: { autocomplete: 'off', class: "datepicker" }, label: 'Event end'  %>
                </div>
              </div>
              <%= f.input :address, placeholder: 'Vapiano Potsdamer Platz Berlin' %>
              <%= f.input :photo, as: :file, input_html: { class: 'd-none hidden', id: 'photo-input' }, label_html: { class: 'btn-prim-white'}, label: 'Upload an image' %>
              <%= image_tag "", width: 120, class: "hidden", id: "photo-preview" %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "update event", class: "btn-prim-black" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
