<div class="container text-center">
  <h1>Events near me</h1>
  <div class="container text-center">
    <div id="geocoder" class="geocoder"></div>
  </div>
  <div class="map-centered">
    <div id="mapEvents"
      class="events-map-display"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="events-scrollable">
    <% @events.each do |event| %>
      <%= link_to event_path(event), class: "card-event-link" do %>
        <div class="card-event">
          <div>
            <% if event.photo.attached? %>
              <%= cl_image_tag event.photo.key, class: "event-index-image" %>
            <% else %>
               <%= image_tag "/assets/default_event.png", class: "event-index-image" %>
            <% end %>
          </div>
          <div class="card-event-infos">
            <div class="card-event-icons-div">
              <%= link_to event_bookings_path(event), class: "card-event-link card-op", method: "post" do %>
                <i class="fa fa-star card-event-star" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true" title="Join the event"></i>
              <% end %>
              <%#= link_to chatrooms_path, class: "card-event-link card-op" do %>
                <%# <i class="fas fa-comments card-event-chat" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-html="true" title="Chat with event participants"></i> %>
              <%# end %>
              </div>
            <div class="card-event-h2-div">
              <h2 class="text-center"><%= event.name %></h2>
            </div>
            <div class="card-event-p-div">
              <p><%= event.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
