<div class="container">
  <h1>Events near me</h1>
  <br>
  <p>Placeholder for searchbox</p>
  <p>Placeholder for distance slider</p>
  
  <div id="mapevents"
     style="width: 333px; height: 320px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <br>
  <br>
  <br>
  <% @events.each do |event| %>
  <ul>
    <li> <%= link_to event.name, event_path(event) %> | <%= event.date_time_start %> | <%= event.date_time_end %> </li>
  </ul>
  <% end %>
</div>
