<div class="container text-center">
  <h1>Events near me</h1>
 
  <div class="map-centered">
    <div id="mapevents"
      class="events-map-display"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
 
  <div class="events-scrollable">
    <% @events.each do |event| %>
      <%= link_to event_path(event), class: "card-event-link" do %>
        <div class="card-event">
          <%= image_tag "default_event.jpg" %>
          <div class="card-event-infos">
            <%= link_to root_path, class: "card-event-link" do %>
              <i class="fa fa-star card-event-star" aria-hidden="true"></i>
            <% end %>
            <%= link_to root_path, class: "card-event-link" do %>
              <i class="fas fa-comments card-event-chat" aria-hidden="true"></i>
            <% end %>
            <h2 class="text-center"><%= event.name %></h2>
            <p><%= event.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
