<div class="container">
  <h1> <%= @event.name %> </h1>
  <br>
  <br>
  <br>
  <h3>Placeholder for image / icon</h3>
  <br>
  <br>
  <br>
  <ul>
    <li> <%= @event.date_time_start %> - <%= @event.date_time_end %> </li>
    <li> <%= @event.description %> </li>
    <li> <%= @event.address %> | show on map</li>
  </ul>
</div>
