<div class="container">
  <div class="headline-nav">
    <div class="left">
      <%= link_to :back, class: "icon-links" do %>
      <i class="fas fa-backward icon-big" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="middle">
      <h2><%= @event.name %></h2>
    </div>
    <div class="right">
      <% if current_user.id == @event.user_id %>
       <%= link_to edit_event_path(@event), class: "icon-links" do %>
       <i class="fas fa-edit icon-big" aria-hidden="true"></i>
        <% end %>
      <% end %>

      <% if current_user.id == @event.user_id %>
        <%= link_to event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: "icon-links" do %>
        <i class="fas fa-trash icon-big" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <% if @event.photo.attached? %>
      <%= cl_image_tag @event.photo.key, width: 330, height: 330, class: "event-show-image" %>
    <% else %>
       <%= image_tag "/assets/default_event.png", width: 330, height: 330, class: "event-show-image" %>
    <% end %>
  </div>
  <div>
    <p><%= @event.description %></p>
  </div>
  <div>
    <h2>Dates:</h2>
    <p>Start: <%= @event.date_time_start %> </p>
    <p>End: <%= @event.date_time_end %> </p>
  </div>
  <div><h2>Address:</h2>
   <p><%= @event.address %></p>
  </div>
     <%= link_to events_path, class: "icon-links" do %>
     <i class="fa fa-map-marked-alt icon-small" aria-hidden="true"></i>
    <% end %>
      <%= link_to events_path, class: "icon-links" do %>
     <i class="fas fa-star" aria-hidden="true"></i>
    <% end %>
</div>
