<div class="card-popup">
    <div class="card-event-icons-div text-left pl-4">
        <p>
          <strong>
            <%=  link_to user_path(user), class: "text-decoration-none" do %>
              <%= user.first_name %> <%= user.last_name %>
            <% end %>
          </strong>
          <br>
          <% unless user == current_user %>
            <%= link_to chatrooms_path(user_id: user.id), method: :post, class: "card-popup-link" do %>
                <i class="fas fa-comments text-center" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </p>
    </div>
    <div class="container">
        <p class= "text-left scrollable scrollable::-webkit-scrollbar"><%= user.bio %></p>
    </div>
</div>
